body {
  width: 100%;
  background-color: rgba(243, 243, 243, 1);
}
.logo_group {
  width: 90%;
  /* height: 125px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-left: 20px; */
  gap: 50px;
}

#logo {
  width: auto;
  height: auto;
  flex-grow: 3;
  margin: 10px 0px;
}
#logo img {
  width: 100%;
  height: auto;
  padding: 10px;
}

#sign_in {
  width: auto;
  flex-grow: 7;
  padding: 10px;
}
#sign_in img {
  width: 100%;
  height: auto;
}
.navbar {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 50px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}
.navbar li {
  display: inline-flex;
  padding-left: 20px;
}

#title {
  width: 90%;
  margin: 0px;
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#title_element {
  display: flex;
  justify-content: end;
  width: auto;
  flex-grow: 1;
}
#title_element2 {
  width: auto;
  flex-grow: 1;
}
#title_element img {
  width: 100%;
  height: auto;
}
#title_element2 img {
  width: 100%;
  height: auto;
}
.content{
    display: flex;
    margin: 0px auto;
    gap: 20px;
    width: 90%;
}
.article_group{
    flex-grow: 8;
    background-color: #fff;
    display: flex;
    gap: 10px;
    margin: 20px 0px;
}
#article_element1{
    flex-grow: 5;
    padding: 10px;}
#article_element2{flex-grow: 5;
        padding: 10px;}
h2{font-size: 24px;
        padding: 20px 0px;
    line-height: 26px;}
p{
    font-size: 16px
    line-height: 26px;
}

.aside_group{
    box-sizing: border-box;
    width: auto;
    height: auto;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-around;
    margin: 20px 0px;
    gap: 20px;
}

.aside_group div{
    
}
.aside_group div img{ 
    width: 250px;
    height: auto;
}
#aside_element1{background-color: #fff;
    box-sizing: border-box;
    width: auto;
    padding: 10px;
    margin-bottom:0px 20px 20px 20px;
}
#aside_element2{background-color: #fff;
    box-sizing: border-box;
    width: auto;
    padding: 10px;
    margin-bottom:0px 20px 20px 20px;
}
footer{
 background-color:#333333 ;
 display: flex;
 align-items: center;
 justify-content: space-around;
 font-size: 18px;
 color: #d8d8d8;
}



    

